*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 10px auto;
    height:800px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
.black{
    background-color: black;
    color:white
}